<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiliCssApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6219C9FC20633A6400CE242C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6219CA1420633A6400CE242C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6219CA1F20633A6500CE242C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
